<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                @Html.ActionLink("PasteBook", "HomePage", "PasteBook", new { area = "" }, new {id="linkAppName", @class = "navbar-brand" })
            </div>

            @{
                string userFullName = (string)Session["userFullName"];
                string userName = "@"+(string)Session["userName"];
                var imgSrc = "";
                if (Session["profilePic"] == null)
                {
                    imgSrc = @Url.Content("~/Content/Images/default.png");
                }
                else
                {

                    var base64 = Convert.ToBase64String((byte[])Session["profilePic"]);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                if (Session["userID"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <div id="liNav">
                            <ul id="ulNav" class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Home", "PasteBook")</li>
                                <li>@Html.ActionLink("Profile", "Profile", "PasteBook")</li>
                                <li>@Html.ActionLink("Notification", "Search", "PasteBook")</li>
                                <li>@Html.ActionLink("Friends", "Friends", "PasteBook")</li>

                            </ul>
                        </div>

                        <div id="divSearch" class="col-md-5">
                       @using (Html.BeginForm("Search", "PasteBook", FormMethod.Post))
                       {
                            <div class="input-group">
                                <input id="txtSearch" name="txtSearch"type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-info" type="submit" >Go!</button>
                                </span>
                            </div><!-- /input-group -->
                       }
                        </div><!-- /.col-lg-6 -->
                       

                        <div id="dropdownIcon"class="dropdown col-md-1">
                            <button id="btnDropdownIcon" class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                <img id="imgDPNav" src="@imgSrc">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                               
                                <li role="presentation"><span>&nbsp </span> @userFullName</li>
                                <li role="presentation"><span>&nbsp </span>@userName</li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">@Html.ActionLink("Edit Profile", "Settings", "PasteBook", new { id = "linkLogout" })</li>
                                <li role="presentation">@Html.ActionLink("Security", "Security", "PasteBook", new { id = "linkLogout" })</li>

                                <li role="presentation" class="divider"></li>
                                <li role="presentation">@Html.ActionLink("Logout", "Logout", "PasteBook", new { id = "linkLogout" })</li>
                            </ul>
                        </div>

                    </div>
                     }

            }
           

            
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


@{
    @Scripts.Render("~/bundles/jquery");
    <script>


        $(document).ready(function () {


            $('#settingSelector').change(function () {
                if ($(this).val() == 'profile') {
                    window.location.href = '@Url.Action("Security", "PasteBook")';

                }
                else if ($(this).val() == 'profile') {
                    window.location.href = '@Url.Action("Settings", "PasteBook")';
                }
            });


            var searchUrl = '@Url.Action("Search", "PasteBook")';

            $('#btnSearch').click(function () {
               
                var searchKeyword = $('#txtSearch').val();

                $('#btnSearch').submit();

               

            });





        });

    </script>
}
