@model IEnumerable<PasteBookEntityLibrary.USER_TABLE>




<h4>Friends</h4>
@foreach (var item in Model)
{
    var imgSrc = "";
    if (@item.PROFILE_PIC == null)
    {
        imgSrc = @Url.Content("~/Content/Images/default.png");
    }
    else
    {

        var base64 = Convert.ToBase64String(@item.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

   
        using (Html.BeginForm("FriendProfile", "PasteBook", new { userID = @item.ID }, FormMethod.Post))
        {
            <div class="col-md-4">

                <div id="panelSearch" class="panel panel-default">
                    <div class="panel-heading"><h4>@item.FIRST_NAME @item.LAST_NAME</h4></div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <img id="imgProfilePicFiends" src="@imgSrc" alt="Profile-Picture" class="img-thumbnail" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-default" onclick="ProfileFriend(@item.ID)" value="@item.USER_NAME" />
                        </div>
                    </div>
                </div>
            </div>

        }

}

@{
    @Scripts.Render("~/bundles/jquery");
    <script>
        var likeUrl = '@Url.Action("FriendProfile", "PasteBook")';

        function ProfileFriend(ID){
            
            var data ={
                userID: ID
            }

            $.ajax({
                url: likeUrl,
                data: data,
                type: 'POST',
                success: function (data) {
                    
                },
                error: function () {

                }
            })

        }



    </script>
}