@*@model IEnumerable<PasteBook.PostUserJoinModel>*@
@*@model IEnumerable<PasteBookEntityLibrary.FRIEND_POST_USER_JOIN3_Result >*@
@model IEnumerable<PasteBookEntityLibrary.NEWSFEEDPOST_Result>
 

    @foreach (var item in Model)

    {
        
        var postID = @item.ID;

        var base64 = Convert.ToBase64String(@item.PROFILE_PIC);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    <div class="panel-group">
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                <img src="@imgSrc" id="imgHomePicPost" class="img-thumbnail" alt="Profile Picture" width="50" height="50">
                <span>@item.FIRST_NAME @item.LAST_NAME</span>
                </div>

                <div class="panel-body">

                    <div class="col-md-12">

                        @item.CONTENT
                    </div>

                    <div class="panel-footer">

                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Like</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->

                        @*<div class="col-md-1">
                            <a href="#" id="linkComment" tabindex="5" class="">Comment</a>

                        </div>*@

                        <div class="col-lg-6 text-left">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Comment</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Write something...">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->

                        <div class="col-md-3 text-right">
                            @item.CREATED_DATE
                        </div>
                       
                    </div>

                    <div class="col-md-12">
                        @{
                           
                            Html.RenderAction("Comment", "PasteBook", new { ID = postID });

                          }
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
                            }


