@*@model IEnumerable<PasteBookEntityLibrary.NEWSFEEDPOST_Result>*@

@model IEnumerable<PasteBookEntityLibrary.POST_TABLE>

<div id="divHome" class="container col-md-offset-1">   

    
@foreach (var item in Model)
{
    var imgSrc = "";

    if (@item.USER_TABLE.PROFILE_PIC == null)
    {
        imgSrc = @Url.Content("~/Content/Images/default.png");
    }
    else
    {
        var base64 = Convert.ToBase64String(@item.USER_TABLE.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    var postID = @item.ID;



    <div  class="panel-group">
        <div id="divHomePosList" class="col-md-8 col-md-offset-1">
            <div class="panel panel-default">

                @*<div id="divPostHead" class="col-md-12">
                    <div id="divPostNamePic" class="col-md-6">
                        <img src="@imgSrc" class="img-thumbnail" id="imgProfilePicPost" alt="Profile Picture" width="50px" height="50px">
                        <span>@item.USER_TABLE.FIRST_NAME @item.USER_TABLE.LAST_NAME</span>
                    </div>


                    <div id="divPostDate" class="col-md-6 text-right">
                        @item.CREATED_DATE.ToString("MMMM, dd, yyyy")
                    </div>
                </div>*@
               
                <div id="divHomePostHead" class="col-md-12">
                    <div id="divHomePostNamePic" class="col-md-6">
                        <img src="@imgSrc" id="imgHomePicPost" class="img-thumbnail" alt="Profile Picture" width="50" height="50">
                        <span>@item.USER_TABLE.FIRST_NAME @item.USER_TABLE.LAST_NAME</span>
                    </div>
                    <div id="divPostDate" class="col-md-6 text-right">
                        @item.CREATED_DATE.ToString("MMMM, dd, yyyy")
                    </div>
                    </div>
                    
                

                <div class="panel-body">
                    <div id="divCommnentButton" class="col-md-12">
                        <div class="col-md-12">

                            <textarea id="textAreaHomePost" class="form-control" cols="110" rows="3" readonly="readonly">@item.CONTENT </textarea>
                        </div>




                        @{
                            Html.RenderAction("MakeComment", "PasteBook", new { ID = postID });
                        }

                        <div id="divLikeButton" class="col-md-1">
                            <button type="submit" class="btn btn-default" onclick="LikeHomePost(@item.ID)"><span>@item.LIKES_TABLE.Where(x => x.POST_ID == @item.ID).Count() Likes </span></button>
                        </div>
                    </div>
                   

                    <div  id="divCommentList"class="col-md-12">
                        @{

                            Html.RenderAction("Comment", "PasteBook", new { ID = postID });

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
 }
    
</div>

@{
    @Scripts.Render("~/bundles/jquery");
    <script>

        //stackoverflow.com/questions/4644027/how-to-automatically-reload-a-page-after-a-given-period-of-inactivity
        var time = new Date().getTime();
       
        function refresh() {
            if (new Date().getTime() - time >= 60000)
                window.location.reload(true);
            else
                setTimeout(refresh, 10000);
        }

        setTimeout(refresh, 10000);



        var likeHomePostUrl = '@Url.Action("LikeAPostHome", "PasteBook")';

        function LikeHomePost(ID) {
            
            var data = {
                postID: ID
            }

            $.ajax({
                url: likeHomePostUrl,
                data: data,
                type: 'POST',
                success: function (data) {
                    location.reload();
                },
                error: function () {

                }
            })

        }


    </script>
}


