@model IEnumerable<PasteBookEFLibrary.NOTIFICATION_TABLE>



@*<div id="dropdownIcon" class="dropdown col-md-1">*@
    @*<button id="btnDropdownIcon" class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">      
        <span class="badge">6</span><span>Notifications</span>
    </button>*@
   

        @foreach (var item in Model)
        {
            if (item.NOTIF_TYPE == "L")
            {
                <li role="presentation">
               <span>@item.USER_TABLE1.FIRST_NAME @item.USER_TABLE1.LAST_NAME  Like your  @Html.ActionLink("Post", "Post", new {postID = @item.POST_ID})</span>    
                     
                </li>
            }
            else if (item.NOTIF_TYPE == "C")
            {

                <li role="presentation">
                    <span>@item.USER_TABLE1.FIRST_NAME @item.USER_TABLE1.LAST_NAME  commented on  your @Html.ActionLink("Post", "Post", new { postID = item.POST_ID })</span>

                </li>
            }
            else if (item.NOTIF_TYPE == "F")
            {
                <li role="presentation">
                    <span>@item.USER_TABLE1.FIRST_NAME @item.USER_TABLE1.LAST_NAME  added you as a  @Html.ActionLink("Friend", "UserProfileFilter", new { userIDOfFriend = item.USER_TABLE1.ID })</span>

                </li>
            }

        }
       

        
   
@*</div>*@

@{
    @*@Scripts.Render("~/bundles/jquery");*@
    <script>

        var postUrl = '@Url.Action("Post", "PasteBook")';
       
        function Post(postID) {

            


            var data = {
                postID: postID,
                

            }

            $.ajax({
                url: postUrl,
                data: data,
                type: 'POST',
                success: function (data) {

                    //ShowErrorIfFalse(data.createComment);
                    window.location.reload(postUrl);
                },
                error: function () {
                    ShowErrorMessage();
                }
            })

        }




    </script>
}