@*@model IEnumerable<PasteBookEntityLibrary.NEWSFEEDPOST_Result>*@
@model IEnumerable <PasteBookEntityLibrary.POST_TABLE>



@foreach (var item in Model)

{
    var postID = item.ID;
    var user = item.USER_TABLE1.ID;
    var imgSrc = "";
    if (@item.USER_TABLE.PROFILE_PIC == null)
    {
        imgSrc= @Url.Content("~/Content/Images/default.png");
    }else
    {
        var base64 = Convert.ToBase64String(@item.USER_TABLE.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }


<div class="panel-group">

    <div id="divPostPanel" class="panel panel-default">
        <div id="divPostHead" class="col-md-12">
            <div id="divPostNamePic" class="col-md-6">
                <img src="@imgSrc" class="img-thumbnail" id="imgProfilePicPost" alt="Profile Picture" width="50px" height="50px">
                <span>@item.USER_TABLE.FIRST_NAME @item.USER_TABLE.LAST_NAME</span>
            </div>
               
            
            <div id="divPostDate" class="col-md-6 text-right">
                @item.CREATED_DATE.ToString("MMMM, dd, yyyy")
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-12">



                <div class="col-md-12">
                    <textarea id="textAreaPost"class="form-control" cols="100" rows="3" readonly="readonly">@item.CONTENT </textarea>
                </div>
                @{

                Html.RenderAction("MakeCommentOnPost", "PasteBook", new { ID = postID });

                }

                <div id="divLikeButtonProfile" class="col-md-1">
                    <button type="submit" class="btn btn-default" onclick="LikePost(@item.ID)"><span>@item.LIKES_TABLE.Where(x => x.POST_ID == @item.ID).Count() Likes </span></button>
                </div>





            </div>
            <div class="col-md-12">
                @{
                Html.RenderAction("CommentList", "PasteBook", new { ID = postID });

                }

            </div>
        </div>



    </div>
</div>


}


@{
    @Scripts.Render("~/bundles/jquery");
<script>
    var likeUrl = '@Url.Action("LikeAPostProfile", "PasteBook")';

    function LikePost(ID) {

        var data = {
            postID: ID
        }

        $.ajax({
            url: likeUrl,
            data: data,
            type: 'POST',
            success: function (data) {
                location.reload();
            },
            error: function () {

            }
        })

    }



</script>
}