@model PasteBook.UserProfileModel

@{
    var address = "@";
    var profileID = Model.User.ID;
    var gender = "";
    var imgSrc = "";
    if (Model.User.PROFILE_PIC == null)
    {
        imgSrc = @Url.Content("~/Content/Images/default.png");
    }
    else
    {

        var base64 = Convert.ToBase64String(@Model.User.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    if (Model.User.GENDER == "F")
    {
        gender = "Female";
    }

    else if (Model.User.GENDER == "M")
    {
        gender = "Male";
    }
    else if (Model.User.GENDER == "U")
    {
        gender = "";
    }
}

<div class="container">
    <div class="fixed col-md-4">
        <form id="formProfileDetails">

            <div id="upperProfile">
                <div id="divProfilePic" class="form-group text-center">

                    @{
                        var userID = (int)Session["userID"];
                        if (userID == Model.User.ID)
                        {
                            <img id="imgProfileImage" src="@imgSrc" alt="Profile-Picture" class="img-thumbnail" data-toggle="modal" data-target="#modalPictureAdd" />
                        }
                        else
                        {
                            <img id="imgProfileImageFriend" src="@imgSrc" alt="Profile-Picture" class="img-thumbnail" />
                        }
                    }

                </div>

                <div id="divProfileName" class="form-group text-center">
                    <h4><span>@Model.User.FIRST_NAME @Model.User.LAST_NAME</span></h4>
                    <label>@address</label><label> @Model.User.USER_NAME</label>
                </div>
            </div>

            <div id="lowerProfile">
                <div class="div-details">
                    <div class="form-group text-center">
                        @{
                            if (userID == Model.User.ID)
                            {
                                <button id="btnAboutMeEdit" type="button" data-toggle="modal" data-target="#modalAboutMe"><span class="glyphicon glyphicon-edit"></span></button>
                            }
                        }
                        <h5>About Me</h5>
                        
                    </div>
                    <div class="form-group">

                        <textarea id="textAreaAbboutMe" cols="43" rows="3" readonly="readonly">
                            @Model.User.ABOUT_ME
                        </textarea>
                    </div>


                    <div class="form-group text-center">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span>Philippines</span>
                    </div>

                    <div class="form-group text-center">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span>Joined @Model.User.DATE_CREATED.ToString("MMMM dd, yyyy")</span>
                    </div>

                    <div class="form=group text-center">
                        <span class="glyphicon glyphicon-gift"></span>
                        <span>Born on @Model.User.BIRTHDAY.ToString("MMMM dd, yyyy")</span>
                    </div><br />



                    <div class="form-group text-center">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span>@gender</span>
                    </div>

                    <div class="form-group text-center">

                        @{
                            if (Model.User.MOBILE_NO != null)
                            {
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                <span>@Model.User.MOBILE_NO</span>
                            }
                        }

                    </div>



                </div>

            </div>
        </form>
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("MakeAPost", "PasteBook", new { profileOwnerID = Model.User.ID, id = "formPost" }, FormMethod.Post))
        {


            <div class="panel panel-default">
                <div class="panel-body">
                    @*@Html.TextAreaFor(x => x.Post.CONTENT, new { @cols = "150", @rows = "3" })*@
                    <textarea id="postContent" , name="postContent" cols="150" , rows="3"></textarea>

                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">

                        <button id="btnPost" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>Post</span>
                        </button>
                    </div>
                </div>
            </div>


        }
        @{
            Html.RenderAction("ProfilePost", "PasteBook", new { ID = profileID });


        }

    </div>

    <!-- Modal About Me -->
    <div class="modal fade" id="modalAboutMe" role="dialog">
        <div class="modal-dialog">
            @using (Html.BeginForm("AddAboutMe", "PasteBook", FormMethod.Post, new { id = "formAboutMe" }))
            {



                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">About Me</h4>
                    </div>
                    <div class="modal-body">

                        @*@Html.TextAreaFor(x => x.User.ABOUT_ME, new { id = "txtAboutMe", rows = "3", cols = "150", htmlAttributes = new { @class = "form-control" } })*@
                        <textarea id="txtAboutMe" name="txtaboutMe" rows="3" cols="150"></textarea>
                        <div class="form-group">
                            <span id="txtAboutMeValidationMessage" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button id="btnAboutMeSave" type="button" class="btn btn-default" @*data-dismiss="modal"*@>Save</button>
                    </div>

                </div>
            }
        </div>
    </div>


    <!-- Modal Picture -->
    <div class="modal fade" id="modalPictureAdd" role="dialog">
        <div class="modal-dialog modal-lg">
            @using (Html.BeginForm("UploadPicture", "PasteBook", FormMethod.Post, FormMethod.Post,
                                            new { enctype = "multipart/form-data", id = "uploadform", @class = "form-inline" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Image</h4>
                    </div>
                    <div class="modal-body">








                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" name="file" id="file" onChange="validate(this.value)" style="display: none;" multiple">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>








                        <div id="txtExtensionValidationMessage" class="form-group">
                            <span class="text-danger">Please select .jpg, .jpeg and .png image only</span>
                        </div>
                        <div id="txtSizeValidationMessage" class="form-group">
                            <span class="text-danger">Please select image file with size 2MB or less than 2MB.</span>
                        </div>


                        <button id="btn-Upload" type="button" class="btn btn-default text-right">Upload</button>




                    </div>

                </div>
            }
        </div>
    </div>
</div>


@{
    @Scripts.Render("~/bundles/jquery");
    <script>


        $(document).ready(function () {

            $("#btnPost").on("click", function () {

                $('#formPost').submit();
            });

            $("#imgProfileImage").on("click", function () {

                $('#modalPictureAdd').modal('show');
            });

            $("#btnAboutMeEdit").on("click", function () {
                $('#modalAboutMe').modal('show');
            });

            //www.aspsnippets.com/Articles/Check-Validate-File-Image-Size-before-upload-using-JavaScript-and-jQuery.aspx

            $("#btn-Upload").bind("click", function () {


                if (typeof ($("#file")[0].files) != "undefined") {
                    var size = parseFloat($("#file")[0].files[0].size / (1024 * 1024)).toFixed(2);

                    if ((ImageFileExtensionValidate() == false) || (size > 2)) {


                        if (ImageFileExtensionValidate() == false) {

                            toggle_visibility('txtExtensionValidationMessage')

                            if (size > 2) {

                                toggle_visibility('txtSizeValidationMessage')

                            }
                        }
                    }
                    else if ((ImageFileExtensionValidate() == true) && (size <= 2)) {


                        $("#uploadform").submit();


                    }



                }
            });

            //stackoverflow.com/questions/19163327/how-do-i-make-a-div-hidden-by-default-using-javascript
            function toggle_visibility(id) {

                var e = document.getElementById(id);
                if (e.style.display == 'block')
                    e.style.display = 'none';

                else
                    e.style.display = 'block';
            }

            //stackoverflow.com/questions/14852090/jquery-check-for-file-extension-before-uploading
            function ImageFileExtensionValidate() {
                var file = $("#file").val()
                var ext = file.split(".");
                ext = ext[ext.length - 1].toLowerCase();
                var arrayExtensions = ["jpg", "jpeg", "png"];

                if (arrayExtensions.lastIndexOf(ext) == -1) {
                    return false;
                    alert("Wrong extension type.");
                    $("#image").val("");
                }
                else {
                    return true;
                }
            }

            //stackoverflow.com/questions/5371089/count-characters-in-textarea

            function AboutMeLenghtValidate() {
                var max = 2000;
                var len = $('#txtAboutMe').val().length;
                if (len >= max) {
                    return false;
                } else {
                    return true;
                }
            }

            $('#txtAboutMe').keyup(function () {
                var max = 2000;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#txtAboutMeValidationMessage').text(' You have reached the limit');
                } else {
                    var char = max - len;
                    $('#txtAboutMeValidationMessage').text(char + ' characters left');
                }
            });

            $('#btnAboutMeSave').click(function () {

                if (AboutMeLenghtValidate() == true) {
                    $("#formAboutMe").submit();
                }
            });

        });


    </script>
}

