@model PasteBook.UserModel

@using (Html.BeginForm("Register", "PasteBook", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
               

 <div class="form-horizontal" >


     <div class="panel-group">
         <div class="panel panel-default">
             <div class="panel-heading"><h4>Create a new Account</h4></div>
             <div class="panel-body">


                 @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                 <div class="form-group col-md-6">

                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Upload Image: ", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">

                             <span class="btn btn-default btn-file">
                                 Browse <input type="file" name="file" id="file" style="width: 100%;">
                             </span>
                             @Html.ValidationMessageFor(model => model.ProfilePic, "", new { @class = "text-danger" })
                         </div>
                     </div>


                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("First Name ", new { @class = "control-label col-md-12" })
                            
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                             @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-4">
                            @Html.Label("Last Name", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                             @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Birthday", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @type = "date", @max = "0d" } })
                             @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     @{
                         List<SelectListItem> countryItems = new List<SelectListItem>();
                         countryItems.Add(new SelectListItem()
                         {
                             Text = "Philippines",
                             Value = "63"
                         });
                         countryItems.Add(new SelectListItem()
                         {
                             Text = "Poland ",
                             Value = "48",

                         });

                     }


                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Country", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.DropDownListFor(model => model.CountryID, countryItems, new { @class = "form-control" })
                             @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                         </div>
                     </div>


                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Mobile No.", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                             @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     @{
                         List<SelectListItem> genderItems = new List<SelectListItem>();
                         genderItems.Add(new SelectListItem()
                         {
                             Text = "Male",
                             Value = "M"
                         });
                         genderItems.Add(new SelectListItem()
                         {
                             Text = "Female ",
                             Value = "F",

                         });
                         genderItems.Add(new SelectListItem()
                         {
                             Text = "Unspecified ",
                             Value = "U",

                         });


                     }




                     <div class="form-group">

                         <div class="col-md-4">
                             @Html.Label("Gender", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.DropDownListFor(model => model.Gender, genderItems, new { @class = "form-control" })
                             @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                         </div>
                     </div>



                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("About Me", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.TextAreaFor(model => model.AboutMe, new { htmlAttributes = new { @class = "form-control" } })
                             @Html.ValidationMessageFor(model => model.AboutMe, "", new { @class = "text-danger" })
                         </div>
                     </div>
                 </div>

                 <div class="form-horizontal col-md-6">
                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("User Name", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control"} })
                             @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Email Address", new { @class = "control-label col-md-12" })

                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                             @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-4">
                             @Html.Label("Password", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                             @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-4">
                            @Html.Label("Confirm Password", new { @class = "control-label col-md-12" })
                         </div>
                         <div class="col-md-8">
                             @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type="password" } })
                             @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-offset-4 col-md-8">
                             <input type="submit" value="Create" class="btn btn-default" />
                         </div>
                     </div>

                 </div>




               
             </div>


             </div>
         </div>
     </div>
        
         
        
}


