@model IEnumerable<PasteBookEFLibrary.USER_TABLE>




<label class="title">Search Result</label>

@{ 
    if(Model.Count() == 0)
    {
        <div class="col-md-12">
            <label>No results found.</label>

        </div>
       
    }
}

@foreach (var item in Model)
{
    var imgSrc = "";
    if (@item.PROFILE_PIC == null)
    {
        imgSrc = @Url.Content("~/Content/Images/default.png");
    }
    else
    {

        var base64 = Convert.ToBase64String(@item.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    
        using (Html.BeginForm("UserProfileFilter", "PasteBook", new { userIDOfFriend = @item.ID }, FormMethod.Post))
        {

            <div class="col-md-4">
                
                <div id="panelSearch" class="panel panel-default">
                    <div class="panel-heading"><h4>@item.FIRST_NAME @item.LAST_NAME</h4></div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <img id="imgProfilePicFiends" src="@imgSrc" alt="Profile-Picture" class="img-thumbnail" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-default" onclick="ProfileFriend(@item.ID)" value="@item.USER_NAME" />
                        </div>
                    </div>
                </div>
            </div>




        }
    
}


